<div class="facet-list">
  <div class="facet" ng-if="facet.facetValues.length" ng-repeat="(index, facet) in facets | object2Array">
    <h3>{{ facet.__key }}</h3>
    <div ng-repeat="value in facet.facetValues" ng-class="{ 'on': value.selected} ">
      <a ng-click="toggle({facet: facet.__key, value: value.name})" title="{{ value.name }}">
        <i ng-class="{ 'fa fa-trash-o': value.selected }"></i>
        <span ng-if="!!value.name">{{ value.name | truncate:truncateLength }}</span>
        <em ng-if="!value.name">blank</em>
      </a>
      <span>({{ value.count }})</span>
    </div>
    <div ng-if="shouldShowMore &amp;&amp; !facet.displayingAll">
      <a href ng-click="showMore({facet: facet, facetName: facet.__key})">see more ...</a>
    </div>
  </div>
</div>
