.ml-input {
  .input-group {
    width: 100%;
  }

  .search-submit {
    width: 40px !important;
  }

  .search-input-icon {
    z-index: 3;
    top: 0px;
  }

  .search-input-clear {
    right: 35px;
    cursor: pointer;
    cursor: hand;
    pointer-events: auto;
  }

  .search-loading {
    right: -35px;
  }
}
